$body-darck: #202023;
$body-light: #dddddd;
$nav-light: #eeeeee;

$light-input: #eeeeee;

$message-darck: #313134;
$message_light: #eeeeee;

$card-darck: #27272b;
$card_light: #eeeeee;

// note background colors
$note-darck: #363638;
$note_light: #ffffff;
// note background colors

// small nav
$small-nav-darck: #27272b;
$small-nav_light: #eeeeee;
// small nav

// opened image background
$opened-image-darck: #27272b;
$opened-image-light: #eeeeee;
// opened image background

// $card-darck: rgb(29, 29, 29);

$border-light: #eeeeee41;
$border-darck: rgba(83, 83, 83, 0.247);

// footer
$footer-light: #eeeeee;
$footer-darck: #27272b;
// footer

$blue: #008fe2;

// thems
$font-light: #ffffff;
$font-darck: #000000;

$first-blue: #0575e6;
$second-blue: #021b79;

$first-pink: #800080;
$second-pink: #6e415d;

$first-orange: #fc4a1a;
$second-orange: #f7b733;

$first-green: #073307;
$second-green: #0f9b0f;
// thems

// levels colors
$easy: green;
$normal: orange;
$hard: red;
// levels colors

$green: green;
$red: red;

// font size
$medium: medium;
$large: large;
$x-large: x-large;
$xx-large: xx-large;
$x3-large: 40px;
$x4-large: 60px;
$small: small;
$x-small: 12px;
$xx-small: 10px;
// font size

$black: black;

$phone: 500px;
$tablet: 800px;
$laptop: 1300px;

$close-icon: 20px;
