@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

body {
  width: 100%;
  height: auto;
}

@import "./varibels/variables";
@import "./component/sidBar";
@import "./component/global/nav";
@import "./component/global/supersearch";
@import "./component/global/errorForm";
@import "./component/info";
@import "./component/global/loading";
@import "./component/class/class";
@import "./component/global/scrollTop";
@import "./component/global/nav/smallNav";
@import "./component/global/note";
@import "./component/footer/footer";
@import "./component/global/copyMessage";
@import "./component/global/copyIdComponent";

@import "./component/teacher/teacher";
@import "./component/admin/admin";
@import "./component/homeWork/homeWork";
@import "./component/student/student";
@import "./component/student/studentInStudents";
@import "./component/global/ShurtCutsButtins/updateHWBtn";
@import "./component/global/ShurtCutsButtins/deleteHWBtn";
@import "./component/global/forms/deleteHw";
@import "./component/global/forms/avatarForm";
@import "./component/global/search";
@import "./component/class/classInClasses";
@import "./component/admin/admin";
@import "./component/admin/adminInAdminsPage";
@import "./component/teacher/teacherInTeachersPage";
@import "./component/global/ShurtCutsButtins/createClass";
@import "./component/parent/parentInParentsPage";
@import "./component/homeWork/HwInHwPage";
@import "./component/plan/plan";
@import "./component/plan/planInProfile";
@import "./component/message/message";
@import "./component/food/food";
@import "./component/global/buttons/CoyOrRemovePlan";
@import "./component/dash/admins/admins";
@import "./component/dash/admins/adminInDash";
@import "./component/dash/admins/createAdmin";
@import "./component/global/forms/dash/verifyDeleteUser";
@import "./component/dash/admins/updateAdmin";

@import "./component/dash/teachers/teacherInDash";
@import "./component/dash/teachers/updateTeacher";

@import "./pages/login";
// @import "./pages/home";
// @import "./pages/class";
// @import "./pages/homeWork";
// @import "./pages/classes";
// @import "./pages/students";
// @import "./pages/admins";

// @import "./pages/teachers";
// @import "./pages/parents";
// @import "./pages/install";
// @import "./pages/homeWorks";

// @import "./pages/plans";
// @import "./pages/plan";
// @import "./pages/messages";
// @import "./pages/foods";
// @import "./pages/food";
@import "./pages/dash/dash";

// @import "./pages/profile/profile";
// @import "./pages/profile/updateProfile";
