// darck and light English messages component style
.messages-cont-darck-English-open {
  width: 96%;
  height: 96%;
  margin: 2%;
  border-radius: 10px;
  padding: 5% 5px 5px 5px;
  overflow-y: scroll;
  transition-duration: 0.5s;
  opacity: 1;
  direction: ltr;

  @media (min-width: $phone) {
    padding: 5px;
  }

  .header {
    width: 100%;
    height: auto;
    padding: 5px 0px;
    border: 1px solid;
    border-color: transparent transparent $border-light transparent;
    color: $font-light;
  }

  .messgaes-cont {
    width: 100%;
    height: auto;
    @media (min-width:$phone) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .default_message {
      width: 100%;
      height: auto;
      padding: 5px 0px;
      color: $font-light;
      margin: 10px 0px;
      padding: 5px;
      border-radius: 5px;
      background-color: $message-darck;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px 0px;
    }
  }
}

.messages-cont-darck-English-open::-webkit-scrollbar {
  width: 0px;
}

.messages-cont-darck-English-close {
  @extend .messages-cont-darck-English-open;
  padding: 30% 5px 5px 5px;
  opacity: 0;
}


.messages-cont-light-English-open {
  width: 96%;
  height: 96%;
  margin: 2%;
  border-radius: 10px;
  padding: 5% 5px 5px 5px;
  overflow-y: scroll;
  transition-duration: 0.5s;
  opacity: 1;
  direction: ltr;

  @media (min-width: $phone) {
    padding: 5px;
  }

  .header {
    width: 100%;
    height: auto;
    padding: 5px 0px;
    border: 1px solid;
    border-color: transparent transparent $border-darck transparent;
    color: $font-darck;
  }

  .messgaes-cont {
    width: 100%;
    height: auto;
    @media (min-width:$phone) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .default_message {
      width: 100%;
      height: auto;
      padding: 5px 0px;
      color: $font-darck;
      margin: 10px 0px;
      padding: 5px;
      border-radius: 5px;
      background-color: $message-light;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px 0px;
    }
  }
}

.messages-cont-light-English-open::-webkit-scrollbar {
  width: 0px;
}

.messages-cont-light-English-close {
  @extend .messages-cont-darck-English-open;
  padding: 30% 5px 5px 5px;
  opacity: 0;
}

// darck and light English messages component style

// darck and light Arabic messages component style
.messages-cont-darck-Arabic-open {
  width: 96%;
  height: 96%;
  margin: 2%;
  border-radius: 10px;
  padding: 5% 5px 5px 5px;
  overflow-y: scroll;
  transition-duration: 0.5s;
  opacity: 1;
  direction: rtl;

  @media (min-width: $phone) {
    padding: 5px;
  }

  .header {
    width: 100%;
    height: auto;
    padding: 5px 0px;
    border: 1px solid;
    border-color: transparent transparent $border-light transparent;
    color: $font-light;
  }

  .messgaes-cont {
    width: 100%;
    height: auto;
    @media (min-width:$phone) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .default_message {
      width: 100%;
      height: auto;
      padding: 5px 0px;
      color: $font-light;
      margin: 10px 0px;
      padding: 5px;
      border-radius: 5px;
      background-color: $message-darck;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px 0px;
    }
  }
}

.messages-cont-darck-Arabic-open::-webkit-scrollbar {
  width: 0px;
}

.messages-cont-darck-Arabic-close {
  @extend .messages-cont-darck-Arabic-open;
  padding: 30% 5px 5px 5px;
  opacity: 0;
}


.messages-cont-light-Arabic-open {
  width: 96%;
  height: 96%;
  margin: 2%;
  border-radius: 10px;
  padding: 5% 5px 5px 5px;
  overflow-y: scroll;
  transition-duration: 0.5s;
  opacity: 1;
  direction: rtl;

  @media (min-width: $phone) {
    padding: 5px;
  }

  .header {
    width: 100%;
    height: auto;
    padding: 5px 0px;
    border: 1px solid;
    border-color: transparent transparent $border-darck transparent;
    color: $font-darck;
  }

  .messgaes-cont {
    width: 100%;
    height: auto;
    @media (min-width:$phone) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .default_message {
      width: 100%;
      height: auto;
      padding: 5px 0px;
      color: $font-darck;
      margin: 10px 0px;
      padding: 5px;
      border-radius: 5px;
      background-color: $message-light;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px 0px;
    }
  }
}

.messages-cont-light-Arabic-open::-webkit-scrollbar {
  width: 0px;
}

.messages-cont-light-Arabic-close {
  @extend .messages-cont-darck-Arabic-open;
  padding: 30% 5px 5px 5px;
  opacity: 0;
}
// darck and light Arabic messages component style