// darck and light update profile page
.up-profil-page-darck-English {
  width: 100%;
  min-height: 100vh;
  background-color: $body-darck;
  direction: ltr;

  .open-cont {
    width: 50%;
    min-height: 100vh;
    margin: auto;
    padding: 10% 0px 10px 0px;
    transition-duration: 0.5s;
    opacity: 1;

    @media (max-width: $phone) {
      width: 100%;
      height: auto;
      padding: 20% 0px 10px 0px;
    }

    // hideen files input
    #avatar {
      display: none;
    }

    // avatar section
    .avatar-section {
      width: 90%;
      height: auto;
      margin: 5px 5%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      // avatar cont blue
      .avatar-cont-blue {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        background: linear-gradient(to top, $first-blue, $second-blue);

        img {
          width: 90%;
          height: 90%;
          margin: 5%;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      // avatar cont orange
      .avatar-cont-orange {
        @extend .avatar-cont-blue;
        background: linear-gradient(to top, $first-orange, $second-orange);
      }

      // avatar cont green
      .avatar-cont-green {
        @extend .avatar-cont-blue;
        background: linear-gradient(to top, $first-green, $second-green);
      }

      // avatar cont pink
      .avatar-cont-pink {
        @extend .avatar-cont-blue;
        background: linear-gradient(to top, $first-pink, $second-pink);
      }
    }

    // form data section
    .form {
      width: 100%;
      height: auto;
      margin: 10px 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      // label style
      label {
        width: 90%;
        height: auto;
        padding: 5px 0px;
        margin: 5px 5%;
        color: $font-light;
        border: 1px solid;
        border-color: transparent transparent $border-light transparent;
      }

      // input style
      input {
        width: 90%;
        height: 40px;
        padding: 5px 0px;
        margin: 5px 5%;
        border: none;
        outline: none;
        padding-left: 10px;
        border-radius: 5px;
      }

      // textarea style
      textarea {
        width: 90%;
        height: 90px;
        border-radius: 5px;
        outline: none;
        padding: 5px 0px 5px 5px;
        margin: 5px 5%;
        resize: none;
      }

      // blue button
      .blue {
        padding: 10px 20px;
        border-radius: 5px;
        margin: 10px 0px;
        border: none;
        outline: none;
        color: $font-light;
        background: linear-gradient(to top, $first-blue, $second-blue);
        cursor: pointer;
      }

      // orange button
      .orange {
        @extend .blue;
        background: linear-gradient(to top, $first-orange, $second-orange);
      }

      // green button
      .green {
        @extend .blue;
        background: linear-gradient(to top, $first-green, $second-green);
      }

      // pink button
      .pink {
        @extend .blue;
        background: linear-gradient(to top, $first-pink, $second-pink);
      }
    }
  }

  // closed cont style
  .close-cont {
    @extend .cont-open;
    padding: 20% 0px 10px 0px;
    transition-duration: 0.5s;
    opacity: 0;
    @media (max-width: $phone) {
      padding: 40% 0% 0% 0%;
    }
  }
}

.up-profil-page-light-English {
  width: 100%;
  min-height: 100vh;
  background-color: $body-light;
  direction: ltr;

  .open-cont {
    width: 50%;
    min-height: 100vh;
    margin: auto;
    padding: 10% 0px 10px 0px;
    transition-duration: 0.5s;
    opacity: 1;

    @media (max-width: $phone) {
      width: 100%;
      height: auto;
      padding: 20% 0px 10px 0px;
    }

    // hideen files input
    #avatar {
      display: none;
    }

    // avatar section
    .avatar-section {
      width: 90%;
      height: auto;
      margin: 5px 5%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      // avatar cont blue
      .avatar-cont-blue {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        background: linear-gradient(to top, $first-blue, $second-blue);

        img {
          width: 90%;
          height: 90%;
          margin: 5%;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      // avatar cont orange
      .avatar-cont-orange {
        @extend .avatar-cont-blue;
        background: linear-gradient(to top, $first-orange, $second-orange);
      }

      // avatar cont green
      .avatar-cont-green {
        @extend .avatar-cont-blue;
        background: linear-gradient(to top, $first-green, $second-green);
      }

      // avatar cont pink
      .avatar-cont-pink {
        @extend .avatar-cont-blue;
        background: linear-gradient(to top, $first-pink, $second-pink);
      }
    }

    // form data section
    .form {
      width: 100%;
      height: auto;
      margin: 10px 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      // label style
      label {
        width: 90%;
        height: auto;
        padding: 5px 0px;
        margin: 5px 5%;
        color: $font-darck;
        border: 1px solid;
        border-color: transparent transparent $border-darck transparent;
      }

      // input style
      input {
        width: 90%;
        height: 40px;
        padding: 5px 0px;
        margin: 5px 5%;
        border: none;
        outline: none;
        padding-left: 10px;
        border-radius: 5px;
      }

      // textarea style
      textarea {
        width: 90%;
        height: 90px;
        border-radius: 5px;
        outline: none;
        padding: 5px 0px 5px 5px;
        margin: 5px 5%;
        resize: none;
      }

      // blue button
      .blue {
        padding: 10px 20px;
        border-radius: 5px;
        margin: 10px 0px;
        border: none;
        outline: none;
        color: $font-light;
        background: linear-gradient(to top, $first-blue, $second-blue);
        cursor: pointer;
      }

      // orange button
      .orange {
        @extend .blue;
        background: linear-gradient(to top, $first-orange, $second-orange);
      }

      // green button
      .green {
        @extend .blue;
        background: linear-gradient(to top, $first-green, $second-green);
      }

      // pink button
      .pink {
        @extend .blue;
        background: linear-gradient(to top, $first-pink, $second-pink);
      }
    }
  }

  // closed cont style
  .close-cont {
    @extend .cont-open;
    padding: 20% 0px 10px 0px;
    transition-duration: 0.5s;
    opacity: 0;
    @media (max-width: $phone) {
      padding: 40% 0% 0% 0%;
    }
  }
}
// darck and light update profile page

// darck and light update profile page
.up-profil-page-darck-Arabic {
  @extend .up-profil-page-darck-English;
  direction: rtl;
}

.up-profil-page-light-Arabic {
  @extend .up-profil-page-light-English;
  direction: rtl;
}
// darck and light update profile page
