// darck 

// card darck style
.home-work-darck-window-restore-English {
  width: 45%;
  max-height: auto;
  margin: 2% 2%;
  position: relative;
  padding: 10px 0px;
  border-radius: 10px;
  background-color: $card-darck;
  cursor: pointer;
  transition-duration: 0.5s;
  direction: ltr;

  // hard level style
  .level-hard {
    width: 5px;
    height: 70%;
    border-radius: 0px 3px 3px 0px;
    position: absolute;
    top: 15%;
    left: 0%;
    background-color: $hard;
    box-shadow: 0 0 10px $hard;
  }

  // normal level style
  .level-normal {
    @extend .level-hard;
    background-color: $normal;
    box-shadow: 0 0 10px $normal;
  }

  // easy level style
  .level-easy {
    @extend .level-hard;
    background-color: $easy;
    box-shadow: 0 0 10px $easy;
  }
  
  // cover
  img {
    width: 90%;
    max-height: 150px;
    border-radius: 10px;
    margin: 2% 5%;
  }

  h5 {
    width: 90%;
    margin: 2% 5%;
    color: $font-light;
  }

  p {
    width: 90%;
    margin: 2% 5%;
    color: $font-light;
    font-size: $xx-small;
  }
}

.home-work-darck-window-restore-English:hover {
  background-color: $message-darck;
  box-shadow: 0 0 5px $black;
}
// card darck style


// card darck style
.home-work-darck-window-restore-Arabic {
  @extend .home-work-darck-window-restore-English;
  direction: rtl;
}

.home-work-darck-window-restore-Arabic:hover {
  background-color: $message-darck;
  box-shadow: 0 0 5px $black;
}
// card darck style


// card darck style
.home-work-darck-window-restore-Arabic {
  @extend .home-work-darck-window-restore-English;
  direction: rtl;

  // / home work cover 
  img{
    border-radius: 10px;
  }
}

.home-work-darck-window-restore-Arabic:hover {
  background-color: $message-darck;
  box-shadow: 0 0 5px $black;
}
// card darck style



// list darck style
.home-work-darck-list-English {
  width: 100%;
  height: auto;
  margin: 1% 0%;
  position: relative;
  padding: 3% 5% 7% 5%;
  border-radius: 10px;
  background-color: $card-darck;
  cursor: pointer;
  transition-duration: 0.5s;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  direction: ltr;

  // hard level style
  .level-hard {
    width: 5px;
    height: 70%;
    border-radius: 0px 3px 3px 0px;
    position: absolute;
    top: 15%;
    left: 0%;
    background-color: $hard;
    box-shadow: 0 0 10px $hard;
  }

  // normal level style
  .level-normal {
    @extend .level-hard;
    background-color: $normal;
    box-shadow: 0 0 10px $normal;
  }

  // easy level style
  .level-easy {
    @extend .level-hard;
    background-color: $easy;
    box-shadow: 0 0 10px $easy;
  }
  
  img {
    width: 25%;
    height: 80%;
    border-radius: 5px;
  }

  .home-work {
    width: 90%;
    height: auto;
    margin: 1%;
    color: $font-light;
    // background-color: green;
    font-size: $xx-small;
  }

  h5 {
    color: $font-light;
    width: 60%;
    margin: 1%;
    max-height: 40px;
    // background-color: red;
  }

  .created_at {
    width: 50%;
    height: auto;
    margin: 1%;
    color: $font-light;
    font-size:$xx-small ;
    text-align: end;
    // background-color: orange;
    position: absolute;
    right: 5%;
    bottom: 5%;
    // margin-bottom: 5%;
  }
}

.home-work-darck-list-English:hover {
  background-color: $message-darck;
  box-shadow: 0 0 5px $black;
}
// list darck style


// list darck style
.home-work-darck-list-Arabic {
  @extend .home-work-darck-list-English;
  width: 100%;
  height: auto;
  margin: 1% 0%;
  position: relative;
  padding: 3% 5% 7% 5%;
  border-radius: 10px;
  background-color: $card-darck;
  cursor: pointer;
  transition-duration: 0.5s;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  direction: rtl;

  // hard level style
  .level-hard {
    width: 5px;
    height: 70%;
    border-radius: 0px 3px 3px 0px;
    position: absolute;
    top: 15%;
    left: 0%;
    background-color: $hard;
    box-shadow: 0 0 10px $hard;
  }

  // normal level style
  .level-normal {
    @extend .level-hard;
    background-color: $normal;
    box-shadow: 0 0 10px $normal;
  }

  // easy level style
  .level-easy {
    @extend .level-hard;
    background-color: $easy;
    box-shadow: 0 0 10px $easy;
  }

  h5 {
    margin-top: -1%;
  }

  .created_at {
    width: 50%;
    height: auto;
    margin: 1%;
    color: $font-light;
    font-size:$xx-small ;
    text-align: end;
    position: absolute;
    right: 45%;
    bottom: 5%;
  }
}

.home-work-darck-list-Arabic:hover {
  background-color: $message-darck;
  box-shadow: 0 0 5px $black;
}
// list darck style


// darck



// light

// card darck style
.home-work-light-window-restore-English {
  @extend .home-work-darck-window-restore-English;
  background-color: $card-light;
  direction: ltr;

  h5 {
    color: $font-darck;
  }

  p {
    color: $font-darck;
  }
}

.home-work-light-window-restore-English:hover {
  background-color: $message-light;
  box-shadow: 0 0 5px $black;
}
// card light style


// card light style
.home-work-light-window-restore-Arabic {
  @extend .home-work-light-window-restore-English;
  direction: rtl;
}

.home-work-light-window-restore-Arabic:hover {
  background-color: $message-light;
  box-shadow: 0 0 5px $black;
}
// card light style


// card light style
.home-work-light-window-restore-Arabic {
  @extend .home-work-light-window-restore-English;
  direction: rtl;
}

.home-work-light-window-restore-Arabic:hover {
  background-color: $message-light;
  box-shadow: 0 0 5px $black;
}
// card light style



// list light style
.home-work-light-list-English {
  width: 100%;
  height: auto;
  margin: 1% 0%;
  position: relative;
  padding: 3% 5% 7% 5%;
  border-radius: 10px;
  background-color: $card-light;
  cursor: pointer;
  transition-duration: 0.5s;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  direction: ltr;

  // hard level style
  .level-hard {
    width: 5px;
    height: 70%;
    border-radius: 0px 3px 3px 0px;
    position: absolute;
    top: 15%;
    left: 0%;
    background-color: $hard;
    box-shadow: 0 0 10px $hard;
  }

  // normal level style
  .level-normal {
    @extend .level-hard;
    background-color: $normal;
    box-shadow: 0 0 10px $normal;
  }

  // easy level style
  .level-easy {
    @extend .level-hard;
    background-color: $easy;
    box-shadow: 0 0 10px $easy;
  }
  
  img {
    width: 25%;
    height: 80%;
    border-radius: 5px;
  }

  .home-work {
    width: 90%;
    height: auto;
    margin: 1%;
    color: $font-darck;
    font-size: $xx-small;
  }

  h5 {
    color: $font-darck;
    width: 60%;
    margin: 1%;
    max-height: 40px;
  }

  .created_at {
    width: 50%;
    height: auto;
    margin: 1%;
    color: $font-darck;
    font-size:$xx-small ;
    text-align: end;
    position: absolute;
    right: 5%;
    bottom: 5%;
  }
}

.home-work-light-list-English:hover {
  background-color: $message-light;
  box-shadow: 0 0 5px $black;
}
// list light style


// list light style
.home-work-light-list-Arabic {
  @extend .home-work-light-list-English;
  direction: rtl;
  h5 {
    margin-top: -1%;
  }

  .created_at {
    color: $font-darck;
    position: absolute;
    right: 45%;
    bottom: 5%;
  }
  
}

.home-work-light-list-Arabic:hover {
  background-color: $message-light;
  box-shadow: 0 0 5px $black;
}
// list light style


// light
