// darck and light English style
.delete-admin-form-darck-English-open {
  width: 60%;
  height: 30%;
  backdrop-filter: blur(70px);
  border-radius: 10px;
  position: absolute;
  top: 35%;
  left: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  transition-duration: 0.5s;

  @media (max-width: $phone) {
    height: 20%;
    width: 90%;
    left: 5%;
    top: 40%;
  }

  .header {
    width: 100%;
    height: 20%;
    border: 1px solid;
    border-color: transparent transparent $border-light transparent;
    color: $font-light;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2%;
  }

  .delete {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: $red;
    color: $font-light;
  }

  .cancel {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: $green;
    color: $font-light;
  }
}

.delete-admin-form-darck-English-close {
  @extend .delete-admin-form-darck-English-open;
  top: -50%;
}

.delete-admin-form-light-English-open {
  width: 60%;
  height: 30%;
  backdrop-filter: blur(70px);
  border-radius: 10px;
  position: absolute;
  top: 35%;
  left: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  transition-duration: 0.5s;

  @media (max-width: $phone) {
    height: 20%;
    width: 90%;
    left: 5%;
    top: 40%;
  }

  .header {
    width: 100%;
    height: 20%;
    border: 1px solid;
    border-color: transparent transparent $border-darck transparent;
    color: $font-darck;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2%;
  }

  .delete {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: $red;
    color: $font-light;
  }

  .cancel {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: $green;
    color: $font-light;
  }
}

.delete-admin-form-light-English-close {
  @extend .delete-admin-form-light-English-open;
  top: -50%;
}
// darck and light English style

// darck and light Arabic style
.delete-admin-form-darck-Arabic-open {
  width: 60%;
  height: 30%;
  backdrop-filter: blur(70px);
  border-radius: 10px;
  position: absolute;
  top: 35%;
  left: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  transition-duration: 0.5s;

  @media (max-width: $phone) {
    height: 20%;
    width: 90%;
    left: 5%;
    top: 40%;
  }

  .header {
    width: 100%;
    height: 20%;
    border: 1px solid;
    border-color: transparent transparent $border-light transparent;
    color: $font-light;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2%;
  }

  .delete {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: $red;
    color: $font-light;
  }

  .cancel {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: $green;
    color: $font-light;
  }
}

.delete-admin-form-darck-Arabic-close {
  @extend .delete-admin-form-darck-Arabic-open;
  top: -50%;
}

.delete-admin-form-light-Arabic-open {
  width: 60%;
  height: 30%;
  backdrop-filter: blur(70px);
  border-radius: 10px;
  position: absolute;
  top: 35%;
  left: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  transition-duration: 0.5s;

  @media (max-width: $phone) {
    height: 20%;
    width: 90%;
    left: 5%;
    top: 40%;
  }

  .header {
    width: 100%;
    height: 20%;
    border: 1px solid;
    border-color: transparent transparent $border-darck transparent;
    color: $font-darck;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2%;
  }

  .delete {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: $red;
    color: $font-light;
  }

  .cancel {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: $green;
    color: $font-light;
  }
}

.delete-admin-form-light-Arabic-close {
  @extend .delete-admin-form-light-Arabic-open;
  top: -50%;
}
// darck and light Arabic style
